<div id="middlewrap">
    <div id="searchbox">
        <form id="formsearch" action="/search" method="get">
            <div class="input-group">
                <input id="q" name="q" class="form-control chinese" type="text" value="<%= @query %>" placeholder="請輸入中文詞彙開始查詢">
                <span class="input-group-btn">
                    <input class="btn btn-default" type="submit" value="Search">
                </span>
            </div>
        </form>
    </div>
</div>