<ul class="nav nav-pills reference_field">
  <li><a href="http://proj1.sinica.edu.tw/~swjz/Dictionary/sym-asym-demo.html" target="_blank">中研院同義反義詞</a></li>
  <li><a href="http://dict.revised.moe.edu.tw/" target="_blank">教育部重編國語辭典修訂本</a></li>
  <li><a href="http://www.kwuntung.net/synonym/" target="_blank">東東同義詞詞典</a></li>
</ul>