.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      = link_to 'Dictionary', root_path, class: 'navbar-brand'
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        = content_tag(:li, class: current_page?(root_path) ? 'active' : '')
          = link_to 'Home', root_path
      = render_navbar_list
